<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link href="https://fonts.googleapis.com/css2?family=Caudex&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/902264e2a2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</head>
<body>
    <link rel="stylesheet" href="/faqStyle.css">

    <header>
        <h5 class="HeaderTitle" id="Andreea">Andreea Andrusca</h5>
        <h5 class="HeaderTitle" id="Hand">Hand Made With Love Accessories</h5>
        <hr>
    </header>

    <section class="NavBar">
        <a href="/"><div id="Home">Home</div></a>
        <a href="/shop"><div id="Shop">Shop</div></a>
        <a href="/about"><div id="About">About</div></a>
        <a href="/faq"><div id="FAQ">FAQ</div></a>
        <a href="/contact"><div id="Contact">Contact</div></a>
        <div>
            <a href="/checkout"><i class="fa fa-shopping-cart"></i></a>
            <span class="CartNumber"></span>
        </div>
    </section>
    <hr>

    <section class="FAQ Centered">

        <div class="FAQBanner">
            <div>FAQ</div>
            <hr>
        </div>

        <div class="Questions">
            <h1>What materials are the products made of?</h1>
            <p>The products are all hand made using various materials (specified under every product page) such as silver, rhodium, epoxy or brass. Eepoxy is used to give the colors to the accessories.</p>
            <h1>Where do you ship?</h1>
            <p>The products are available for shipping in most of the Europe countries, such as Belgium, Italy, United Kingdom, France, Spain, Portugal, Netherlands, Romania, Hungary, Greece, Portugal, Czeck Republic, Slovakia, Slovenia.</p>
            <h1>Can I ask for different colors or products?</h1>
            <p>Feel free to contact me using the contact page and request a particular item, in one of the many colors available (the ones you can find in the about page) and I will contact you back as soon as possibile to comunicate you if the request is doable!</p>
            <h1>Are they actually hand made?</h1>
            <p>Every product you see is made by me, Andreea Andrusca, using various silicon frames as you can also see from the video in the about page and on my Facebook page (which you can simply find at the bottom of the website).</p>
            <h1>Is there a refund in case something goes wrong?</h1>
            <p>Of course there is! If something goes wrong with the shipping, or the product happens to be for some reason damaged, feel free to contact me personally on the contact page and I will provide you with a refund.</p>
        </div>
        
    </section>


    <footer>
        <div class="Copyright">
            <h5 class="CopyrightMessage">Copyright ©  2021 Andreea Andrusca</h5>
            <h5 class="CopyrightCreator">Created by Denis Craciun</h5>
        </div>

        <div class="BackToTop">
            
            <a href="#"><button>
                <i class="fa fa-arrow-up"></i>
                Back To Top
                <i class="fa fa-arrow-up"></i>
            </button></a>
            
        </div>

        <div class="Follow">
            <div class="FollowText">
                Follow us on:
            </div>
            <div class="FollowIcons Centered">
                <i class="fa fa-instagram"></i>
                <i class="fa fa-facebook"></i>
            </div>
            
        </div>

    </footer>
    <!--<script src="/scripts.js" async></script>
    <script src="/getSession.js" async></script>-->
</body>
</html>