html{
    scroll-behavior: smooth;
}

body{
    height:100%;
    margin: 0;
    padding: 0;
}

::selection{
    background-color: #F2DCFF;
}
a{
    text-decoration: none;
    color:black;
}
a:visited{
    text-decoration: none;
    color:black;
}
a:hover{
    color:#7117B8;
}
a:active {
    text-decoration: none;
}
video::-webkit-media-controls-volume-slider {
    display:none;
    }
    
    video::-webkit-media-controls-mute-button {
    display:none;
    }
.Centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*HEADER*/
header{
    background-color: #F2DCFF;
}
.HeaderTitle{
    text-align: center;
    font-size: 35px;
    margin:0;
}
#Andreea{
    font-family: Caudex;
    padding-top: 2rem;
    color:#7117B8;
}
#Hand{
    font-family: Raleway;
    font-size: 30px;
    margin-bottom: 3rem;
}


/*Navigation Bar*/
.NavBar{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}
.NavBar i{
    transition: 0.4s;
}
.NavBar i:hover{
    transition: 0.4s;
    transform: translateY(5px);
}
#About{
    color: #7117B8;
}



/*ABOUT*/
.About{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "Title Text Image";
}
.AboutTitle{
    grid-area: Title;
}
.AboutTitle div{
    text-align: center;
    font-family: Caudex;
    font-size: 50px;
    margin-top: 4rem;
}
.AboutTitle hr{
    width: 35%;
    border: #7117B8 solid 1px;
}
.AboutText{
    grid-area: Text;
    margin-top: 3rem;
    font-size: 25px;
    margin-bottom: 3rem;
}
.AboutImage{
    grid-area: Image;
    margin-top: auto;
    margin-bottom: auto;
}
.AboutVideo{
    padding: 1rem 0 7rem 0;
}






/*FOOTER*/
footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "Copyright BackToTop Follow";
}
.Copyright{
    grid-area: Copyright;
}
.CopyrightMessage{
    font-size: 15px;
    font-family: Caudex;
    text-align: center;
    margin-bottom: 0;
}
.CopyrightCreator{
    font-family: Caudax;
    font-size: 13px;
    text-align: center;
    margin-top: 0;
}
.BackToTop{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.fa-arrow-up{
    padding: 0 2rem;
}
.BackToTop button{
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    font-size: 25px;
    font-family: Caudex;
    background-color: #7117B8;
    color:white;
    padding: 1rem 0;
    transition: 0.3s;
}
.BackToTop button:hover{
    background-color:#8f32d6;
    transform: translateY(10px);
    transition: 0.3s;
}
.Follow{
    margin-top: auto;
    margin-bottom: auto;
}
.FollowText{
    text-align: center;
    font-family: Caudex;
    font-size: 20px;
}
.FollowIcons{
    display: flex;
    justify-content: space-between;
    width: 12%;
    font-size: 20px;
}



/*Phone*/
@media (max-width:450px){

    /*NAVBAR*/
    .NavBar{
        font-size: 20px;
        width: 90%;
    }

    



    /*COPYRIGHT*/
    footer{
        grid-template-columns: auto;
        grid-template-areas: 
        "BackToTop"
        "Follow"
        "Copyright";
    }
    .BackToTop button{
        font-size: 15px;
        padding: 1rem 1.5rem;
        margin-bottom: 2rem;
    }
    .CopyrightMessage{
        font-size: 19px;
    }
    .CopyrightCreator{
        font-size: 17px;
    }
    .FollowText{
        font-size: 20px;
    }
    .FollowIcons{
        font-size: 20px;
        width: 14%;
    }


    /*ABOUT*/
    .AboutText{
        font-size: 20px;
        padding: 0 2rem;
    }
    .About{
        grid-template-columns: auto;
        grid-template-areas: 
        "Title"
        "Text"
        "Image";
    }
    .AboutImage{
        margin-bottom: 5rem;
    }

}



@media (max-width:1000px) and (min-width:500px){

    .AboutText{
        font-size: 20px;
        padding: 0 2rem;
    }
    .About{
        grid-template-areas: 
        "Title Title Title"
        "Text Text Image";
    }

}


@media (max-width:1500px) and (min-width:1000px){
    
    .AboutText{
        font-size: 20px;
    }


}
