html{
    scroll-behavior: smooth;
}

body{
    height:100%;
    margin: 0;
    padding: 0;
}

::selection{
    background-color: #F2DCFF;
}
a{
    text-decoration: none;
    color:black;
}
a:visited{
    text-decoration: none;
    color:black;
}
a:hover{
    color:#7117B8;
}
a:active {
    text-decoration: none;
}

.Centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*HEADER*/
header{
    background-color: #F2DCFF;
}
.HeaderTitle{
    text-align: center;
    font-size: 35px;
    margin:0;
}
#Andreea{
    font-family: Caudex;
    padding-top: 2rem;
    color:#7117B8;
}
#Hand{
    font-family: Raleway;
    font-size: 30px;
    margin-bottom: 3rem;
}


/*Navigation Bar*/
.NavBar{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}
.NavBar i{
    transition: 0.4s;
}
.NavBar i:hover{
    transition: 0.4s;
    transform: translateY(5px);
}





/*PRODUCT*/

.Product{
    display: grid;
    grid-template-areas: 
    "Image Details"
    "Info Info";
    grid-template-columns: 1fr 2fr;
    width: 70%;
    margin-top: 5rem;
}
.ProductDetails{
    margin-left: 2rem;
    grid-area: Details;
}
.ProductImage{
    width: 385px; 
    height: 180px;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
    border: solid black 1px;
    grid-area: Image;
}
.ProductTitle h5{
    font-size: 40px;
    margin:0;
    font-family: Caudex;
    margin-bottom: 1.5rem;
}
.ProductPrice{
    font-size: 20px;
    margin-bottom: 1.5rem;
}
.ProductColors{
    font-family: Cadex;
    color: #6A6868;
    margin-bottom: 1.5rem;
}
.Colors{
    display: flex;
}
.Color{
    margin-top: 0.5rem;
    width: 20px;
    height: 20px;
    border: solid black 1px;
    border-radius: 100%;
    margin-right: 0.2rem;
}
#Red{
    background-color: red;
}
#Red:hover{
    filter: opacity(0.5);
}
#Yellow{
    background-color: #DDFF0C;
}
#Yelllow:hover{
    filter: opacity(0.5);
}
#Blue{
    background-color: #0039f4;
}
#Blue:hover{
    filter: opacity(0.5);
}
#Orange{
    background-color: #fc4700;
}
#Orange:hover{
    filter: opacity(0.5);
}
#LightBlue{
    background-color: #00ccff;
}
#LightBlue:hover{
    filter: opacity(0.5);
}
#Purple{
    background-color: #ae00ff;
}
#Purple:hover{
    filter: opacity(0.5);
}
#Pink{
    background-color: #e640fc;
}
#Pink:hover{
    filter: opacity(0.5);
}
.ProductQuantity{
    font-family: Caudex;
    color: #6A6868;
}
.ProductQuantity input{
    margin-top: 0.5rem;
    margin-left: 0.3rem;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 20px;
}
.ProductPay{
    margin-top: 1.5rem;
}
.ProductButton{
    margin-bottom: 0.5rem;
    width: 400px;
    border: none;
    padding: 0.6rem;
    font-family: Caudex;
    font-size: 15px;
}
.ProductSize button{
    font-size: 15px;
    font-family: Caudex;
    padding: 0.5rem;
}
.ProductSizeButton{
    background-color:#CFA5F0;
    color:white;
}
#Cart{
    background-color: #CFA5F0;
    transition: 0.4s;
}
#Cart:hover{
    filter: opacity(0.8);
    transition: 0.4s;
}
#Buy{
    background-color: #7117B8;
    color:white;
    transition: 0.4s;
}
#Buy:hover{
    filter: opacity(0.8);
    transition: 0.4s;
}
#HandMadeKeyRingImg{
    width: 250px;
}
#HandMadePartyFavourImg{
    width: 250px;
}
#HandMadeAshtrayImg{
    width: 250px;
}
.ProductInfo{
    grid-area: Info;
    font-family: Caudex;
    font-size: 50px;
    margin-top: 6rem;
    text-align: center;
    margin-bottom: 3rem;
}
.ProductInfo hr{
    width: 20%;
    border: solid #7117B8 1px;
}
.ProductInfo p{
    font-size: 20px;
    text-align: justify;
    padding-top: 1rem;
    width: 80%;
}
.a-native-dropdown{
    font-size: 20px;
    font-family: Caudex;
}
#quantity{
    font-size: 20px;
}



/*FOOTER*/
footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "Copyright BackToTop Follow";
}
.Copyright{
    grid-area: Copyright;
}
.CopyrightMessage{
    font-size: 15px;
    font-family: Caudex;
    text-align: center;
    margin-bottom: 0;
}
.CopyrightCreator{
    font-family: Caudax;
    font-size: 13px;
    text-align: center;
    margin-top: 0;
}
.BackToTop{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.fa-arrow-up{
    padding: 0 2rem;
}
.BackToTop button{
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    font-size: 25px;
    font-family: Caudex;
    background-color: #7117B8;
    color:white;
    padding: 1rem 0;
    transition: 0.3s;
}
.BackToTop button:hover{
    background-color:#8f32d6;
    transform: translateY(10px);
    transition: 0.3s;
}
.Follow{
    margin-top: auto;
    margin-bottom: auto;
}
.FollowText{
    text-align: center;
    font-family: Caudex;
    font-size: 20px;
}
.FollowIcons{
    display: flex;
    justify-content: space-between;
    width: 12%;
    font-size: 20px;
}



/*Phone*/
@media (max-width:450px){

    /*NAVBAR*/
    .NavBar{
        font-size: 20px;
        width: 90%;
    }
    #HandMadeKeyRingImg, #HandMadePartyFavourImg, #HandMadeAshtrayImg{
        width: 150px;
    }

    



    /*COPYRIGHT*/
    footer{
        grid-template-columns: auto;
        grid-template-areas: 
        "BackToTop"
        "Follow"
        "Copyright";
    }
    .BackToTop button{
        font-size: 15px;
        padding: 1rem 1.5rem;
        margin-bottom: 2rem;
    }
    .CopyrightMessage{
        font-size: 19px;
    }
    .CopyrightCreator{
        font-size: 17px;
    }
    .FollowText{
        font-size: 20px;
    }
    .FollowIcons{
        font-size: 20px;
        width: 14%;
    }


   /*PRODUCT*/
   .Product{
       grid-template-areas: 
       "Image"
       "Details"
       "Info";
       width: 90%;
   }
   .ProductImage{
       padding: 2rem 0;
       width: 300px;
   }
   .ProductDetails{
       margin-left: 0.8rem;
   }
   .ProductTitle h5{
       font-size: 30px;
       margin-top: 2rem;
   }
   .ProductButton{
       width: 300px;
   }
   .ProductInfo hr{
       width: 60%;
   }
   .ProductInfo p{
       width: 95%;
   }

}



@media (max-width:1000px) and (min-width:500px){

    

}


@media (max-width:1500px) and (min-width:1000px){
    
   .Product{
       width: 80%;
   }

}
